{
  "extends": ["airbnb-base"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "import/order": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off"
  }
}
